#first-db-app > .card {
    height: calc(100vh - var(--menu-horizontal-height) - var(--content-padding) - var(--content-padding));
}

#first-db-app #customer-wrapper {
    max-height: 50vh;
}

#first-db-app #notification-wrapper {
    max-height: 50vh;
    overflow-y: auto;
}